<div class="container">
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
<a routerLink="" class="item"></a>
</div>